* {
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: #2e6891;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 0;
    width: 100vw;
    transition: height 0.66s ease-out;
}

body::-webkit-scrollbar {
    display: none;
}

.tabcontent {
    display: none;
}

/* Scrolling Span */

.homesect {
    align-content: center;
    justify-content: center;
    text-align: center;
}

#bgimg {
    position: absolute;
    height: 140%;
    width: 120%;
    margin: 0;
    margin-top: -100px;
    left: -90px;
}

/* Navigation Bar */

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

#logo {
    display: flex;
    max-height: 50px;
    top: 0;
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: .95;
}

.navword {
    font-family: 'Roboto Slab';
    font-size: 30px;
}

.navbar {
    width: 100%;
    height: 100px;
    left: 160px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: 200;
    justify-content: space-between;
    background-color: rgba(59, 59, 59, 0.08);
    top: 0;
    margin-top: -10px;
    position: fixed;
}

a {
    text-decoration: none;  
    color: #fff;
    font-size: 1.5rem;
    height: fit-content;
}

a:hover {
    text-decoration: none;
    color: orange;
}
#h1-abm {
    top: 38%;
}

/* Text Paragraphs */

#p3 {
    position: relative;
    top: 160px;
    margin-left: 70px; 
    margin-right: 70px;
}

#p4 {
    position: relative;
    top: 140px;
    margin-left: 70px; 
    margin-right: 70px;
}

/* Images */

#img2 {
    top: 400px;
}

#img3 {
    top: 420px;
    margin-left: 670px;
    width: 1200px;
    height: auto;
    z-index: 4;
}

.imgs {
    position: relative;
    left: 90px;
    width: 800px;
    height: auto;
    margin-top: -600px;
}

.links {
    display: flex;
    gap: 2rem;
}

.abm-title {
    text-align: center;
    position: relative;
    display: block;
    top: 300px;
    color: #fff;
    font-size: 120px;
}

/* Animation on scroll */

.hiddencard, .hiddenimg{
    opacity: 0;
}

.card {
    transform: translateY(-50px);
    transition: all 2s;
    display: block;
    flex-direction:column;
    gap:1rem;
    align-items:center;
    text-align: center;
}

.show.card1 {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}

.show.card2 {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}

.show.card3 {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}

.show.card4 {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}

.show.card5 {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}

/* Sections */

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    scroll-snap-stop: always;
    top: 180px;
}

#firstsect {
    position: relative;
}

.abmdesc1 {
    margin-top: 600px;
    position: absolute;
    border: #fff;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 50px;
    box-shadow: 10px 5px;
    gap: 3px;
    margin-left: 1100px;
    margin-right: 120px;
}

/* backgrounds */

#graph-bg {
    z-index: -1;
    position: fixed;
    margin-top: -900px;
    margin-left: -1000px;
    height: auto;
    opacity: .3;
}

/* Cards */

.card2 {
    position: relative;
    top: 320px;
}

.card3 {
    position: relative;
    left: -300px;
    top: 670px;
    margin-left: 750px;
}

.card4 {
    position: relative;
    top: 580px;
    margin-left: 1100px;
}

.card5 {
    position: absolute;
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 1000px;
}

.lastitem {
    position: relative;
}


/* Comments


#4587EF #25376F - shades of blue


*/