* {
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: #2e6891;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100vh;
    width: 100vw;
    transition: height 0.66s ease-out;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.tabcontent {
    display: none;
}

/* Scrolling Span */

.homesect {
    align-content: center;
    justify-content: center;
    text-align: center;
}

#bgimg {
    position: absolute;
    height: auto;
    width: 105%;
    margin-top: -100px;
    left: -90px;
}

/* Navigation Bar */

.progress {
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

#logo {
    display: flex;
    max-height: 50px;
    top: 0;
}

.scrollcontainer {
    height: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.scrollcontainer::-webkit-scrollbar {
    display: none;
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: .95;
}

.navword {
    font-family: 'Roboto Slab';
    font-size: 30px;
}

.navbar {
    width: 100%;
    height: 100px;
    left: 160px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: 200;
    justify-content: space-between;
    background-color: rgba(59, 59, 59, 0.08);
    top: 0;
    margin-top: -10px;
    position: fixed;
}

a {
    text-decoration: none;  
    color: #fff;
    font-size: 1.5rem;
    height: fit-content;
}

a:hover {
    text-decoration: none;
    color: orange;
}
#h1-abm {
    position: absolute;
    top: 28%;
    left: 16%;
}

/* Text Paragraphs */

#p3 {
    position: relative;
    top: 160px;
    margin-left: 70px; 
    margin-right: 70px;
}

.pros {
    font-family: "Young Serif", sans-serif;
}

.cons {
    font-family: "Young Serif", sans-serif;
}

#p4 {
    position: relative;
    top: 20px;
    margin-top: 500px;
    margin-bottom: 40px;
    margin-left: 70px; 
    margin-right: 70px;
}

.scroll-snap4 {
    height: 200vh;
}

.bullet {
    margin-left: 45px;
    display: list-item;
    list-style: disc outside none;
}

/* Images */

#img2 {
    top: 400px;
}

#img3 {
    top: 420px;
    margin-left: 280px;
    width: 1200px;
    height: auto;
    z-index: 4;
}

.imgs {
    position: relative;
    left: 90px;
    width: 800px;
    height: auto;
    margin-top: -600px;
}

.links {
    display: flex;
    gap: 2rem;
}

.abm-title {
    text-align: center;
    position: relative;
    display: block;
    top: 300px;
    color: #fff;
    font-size: 120px;
}

/* Animation on scroll */

.hiddencard, .hiddenimg{
    opacity: 0;
}

.imgs.card {
    transform: translateX(-800px);
    transition: all 2s;
    display: block;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.hiddencard.card {
    transform: translateY(-50px);
    transition: all 2s;
    display: block;
    flex-direction:column;
    gap:1rem;
    align-items:center;
    text-align: center;
}

.show.abm-title.card1 {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}

.show.abmdesc1.card2 {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}

.show.abmdesc1.card3 {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}

.show.abmpros.card4 {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}

.show.abmpros.card5 {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}

.show.abmcons.card6 {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}

.show.abmcons.card7 {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
}

/* Sections */

.horizontal-scroll-wrapper {
    width: 100vw;
    height: 100vh;
    padding-bottom: 100px;
    margin: 0;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateY(0px);
    transform-origin: right top;
}

.horizontal-scroll-wrapper::-webkit-scrollbar {
    display: none;
}

div {
    box-sizing: border-box;
}

.horizontal-scroll-wrapper>#p3 {
    margin-top: 0;
}

.horizontal-scroll-wrapper>div {
    display: block;
    padding: 5px;
    background: rgb(14, 66, 96);
    transform-origin: right top;
}

.cards {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    scroll-snap-stop: always;
    top: 180px;
}

#firstsect {
    position: relative;
}

.abmdesc1 {
    margin-top: 600px;
    position: absolute;
    border: #fff;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 50px;
    box-shadow: 10px 5px;
    gap: 3px;
    margin-left: 1100px;
    margin-right: 120px;
}

.abmpros, .abmcons{
    font-size: 45px;
    margin-top: 600px;
    position: absolute;
    border: #fff;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    box-shadow: 10px 5px;
    gap: 3px;
    margin-left: 1100px;
    margin-right: 120px;
}

/* backgrounds */

#graph-bg {
    z-index: -1;
    position: fixed;
    margin-top: -900px;
    margin-left: -1000px;
    height: auto;
    opacity: .3;
}

/* Text Cards */

.abmdesc1.card2 {
    position: relative;
    top: 320px;
}

.abmdesc1.card3 {
    position: relative;
    left: -300px;
    top: 670px;
    margin-left: 750px;
}

.abmpros.card4 {
    position: relative;
    top: 580px;
    margin-left: 1100px;
}

.abmpros.card5 {
    position: absolute;
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 1000px;
}

.abmcons.card6 {
    position: relative;
    margin-top: 140px;
    margin-left: 80px;
    margin-right: 60px;
}

.abmcons.card7 {
    position: absolute;
    margin-top: 200px;
    margin-left: 80px;
    margin-right: 60px;
}

.lastitem {
    position: relative;
}

.conscont {
    padding-bottom: 80px;
}

/* Image Cards */

.imgs.show.card2 {
    transform: translateX(0px);
    opacity: 1;
    filter: blur(0px);
}
.imgs.show.card3 {
    transform: translateX(0px);
    opacity: 1;
    filter: blur(0px);
}
.imgs.show.card4 {
    transform: translateX(0px);
    opacity: 1;
    filter: blur(0px);
}
.imgs.show.card5 {
    transform: translateX(0px);
    opacity: 1;
    filter: blur(0px);
}

/* Comments


#4587EF #25376F - shades of blue


*/